# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
*.tfvars
*.tfvars.json

# Ansible local inventory
ansible/inventory.ini

# SSH private keys
*.pem
*.key

# Java/Maven build output
java-app/target/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak

